[Desktop Entry]
Encoding=UTF-8
Name=CATScoin
Comment=CATScoin P2P Cryptocurrency
Exec=catthis-qt %u
Terminal=false
Type=Application
Icon=catthis128
MimeType=x-scheme-handler/catthis;
Categories=Office;Finance;
Name[en_US]=catthis-qt.desktop
